form{
	margin: 0;
}
input{
	width: 100%;
	display: block;
	background: white;
	border: none;
	border-radius: 15px;
	box-shadow: 0 0 8px #ccc;
	padding: 10px;
	margin: 20px 0;
}
input:focus{
	outline: none;
}
.input_search:after{
	content: "\f002";
	position: absolute;
	right: 10px;
	display: inline-block;
	font-family: fontawesome;
	font-size: 22px;
}
select{
  @extend input;
}

