/*   colors  */
$green: #b4cf4a;
$white: #fff;
$grey: #777;

@import "buttons";
@import "contacts";
@import "flag";
@import "form";
@import "header";
@import "icon";
@import "list";
@import "main";
@import "text";



body{
	font-family: Tahoma, Geneva, Kalimati, sans-serif;
	font-size: 14px;
	color: #353535;
	margin: 0;
	background: url("../images/background.jpg");
}

h3{
	margin: 0;
	padding: 5px;

}


