/*   colors  */

.button {
  background: #777777;
  color: #b4cf4a;
  font-size: 18px;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 10px;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.control-buttons {
  display: inline-block;
  float: right;
  padding: 16px 0;
}

.control-container {
  color: #b4cf4a;
  font-size: 26px;
  cursor: pointer;
}

.control-button,
.control-button_add {
  color: #777777;
  padding: 5px 10px;
  cursor: pointer;
}

.contact__name {
  color: #b4cf4a;
  font-size: 16px;
  font-weight: bold;
}

.contact__phone {
  color: white;
}

.contact__phone:before {
  content: "\f095";
  display: inline-block;
  font-family: fontawesome;
  margin-right: 5px;
}

.add-contact__form {
  margin-left: 20px;
}

.contact-detail {
  margin-left: 20px;
}

.contact-item__card {
  margin: 20px 10px;
}

.contact-item__image,
.contact-item__info {
  width: 49%;
  height: auto;
  display: inline-block;
}

.contact-item__image img {
  width: 100%;
}

.contact-item__name {
  color: #b4cf4a;
  font-weight: bold;
  font-size: 26px;
}

.contact-item__phone,
.contact-item__group {
  color: white;
  font-size: 18px;
  margin: 10px 0;
}

.contact-item__icon {
  margin: 0 5px;
  font-size: 18px;
}

.contact-item__icon:before {
  margin: 0 5px;
  width: 20px;
  text-align: center;
}

.contact-item__buttons {
  margin: 25px 0;
}

.flag {
  display: table;
  width: 100%;
}

.flag__image,
.flag__body,
.flag__icon {
  display: table-cell;
  vertical-align: middle;
}

.flag--top .flag__image,
.flag--top
.flag__body,
.flag--top
.flag__icon {
  vertical-align: top;
}

.flag--bottom .flag__image,
.flag--bottom
.flag__body,
.flag--bottom
.flag__icon {
  vertical-align: bottom;
}

.flag__image {
  padding-right: 10px;
}

.flag__image > img {
  display: block;
  max-width: none;
}

.flag--rev .flag__image {
  padding-right: 0;
  padding-left: 10px;
}

.flag__body {
  width: 100%;
}

.flag__icon {
  color: white;
  opacity: 0.3;
  font-size: 36px;
  padding-right: 20px;
}

form {
  margin: 0;
}

input,
select {
  width: 100%;
  display: block;
  background: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px #ccc;
  padding: 10px;
  margin: 20px 0;
}

input:focus,
select:focus {
  outline: none;
}

.input_search:after {
  content: "\f002";
  position: absolute;
  right: 10px;
  display: inline-block;
  font-family: fontawesome;
  font-size: 22px;
}

.group__name {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: #b4cf4a;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.croup_collapse-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -14px;
  font-size: 28px;
  line-height: 1;
  cursor: pointer;
}

.group-control {
  padding: 5px 0;
  font-size: 22px;
  text-align: right;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.group-control__delete,
.group-control__edit {
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.5;
}

.group-control__delete:hover,
.group-control__edit:hover {
  opacity: 1;
}

header {
  height: 70px;
  box-shadow: 0 0 4px #000;
  background: #363c32;
  color: #fff;
}

.header__title {
  color: #b4cf4a;
  font-weight: normal;
  font-size: 32px;
  display: inline-block;
}

.logo {
  margin: 10px 0;
  display: inline-block;
  height: 50px;
  background: url("../images/logo.png");
  background-size: 100%;
  width: 55px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 20px;
}

.icon-user,
.contact__image,
.icon-user_big {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../images/userpick_small.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-left: 10px;
}

.icon-user_big {
  width: 150px;
  height: 150px;
  background-image: none;
}

.contact-list {
  list-style: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  height: auto;
}

.contact-list.collapsed {
  height: 0px;
  overflow: hidden;
  margin-bottom: 5px;
}

.contact-list__item {
  padding-top: 20px;
  cursor: pointer;
}

.contact-list__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-list__item:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  opacity: 0.2;
  background: white;
  margin-top: 20px;
}

h2 {
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}

body {
  font-family: Tahoma, Geneva, Kalimati, sans-serif;
  font-size: 14px;
  color: #353535;
  margin: 0;
  background: url("../images/background.jpg");
}

h3 {
  margin: 0;
  padding: 5px;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}