/*   colors  */
/* line 1, C:/WebServers/home/localhost/www/addressBook/styles/buttons.scss */
.button {
  background: #777777;
  color: #b4cf4a;
  font-size: 18px;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
}

/* line 10, C:/WebServers/home/localhost/www/addressBook/styles/buttons.scss */
.disabled {
  cursor: default;
  opacity: 0.5;
}

/* line 15, C:/WebServers/home/localhost/www/addressBook/styles/buttons.scss */
.control-buttons {
  display: inline-block;
  float: right;
  padding: 16px 0;
}

/* line 20, C:/WebServers/home/localhost/www/addressBook/styles/buttons.scss */
.control-container {
  color: #b4cf4a;
  font-size: 26px;
  cursor: pointer;
}

/* line 25, C:/WebServers/home/localhost/www/addressBook/styles/buttons.scss */
.control-button, .control-button_add {
  color: #777777;
  padding: 5px 10px;
  cursor: pointer;
}

/* line 4, C:/WebServers/home/localhost/www/addressBook/styles/contacts.scss */
.contacts__name {
  color: #b4cf4a;
  font-size: 16px;
  font-weight: bold;
}

/* line 9, C:/WebServers/home/localhost/www/addressBook/styles/contacts.scss */
.contacts__phone {
  color: white;
}

/* line 12, C:/WebServers/home/localhost/www/addressBook/styles/contacts.scss */
.contacts__phone:before {
  content: "\f095";
  display: inline-block;
  font-family: fontawesome;
  margin-right: 5px;
}

/* line 18, C:/WebServers/home/localhost/www/addressBook/styles/contacts.scss */
.add-contact__form {
  margin-left: 20px;
}

/* line 1, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag {
  display: table;
  width: 100%;
}

/* line 8, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag__image,
.flag__body,
.flag__icon {
  display: table-cell;
  vertical-align: middle;
}
/* line 12, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag--top .flag__image, .flag--top
.flag__body, .flag--top
.flag__icon {
  vertical-align: top;
}
/* line 16, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag--bottom .flag__image, .flag--bottom
.flag__body, .flag--bottom
.flag__icon {
  vertical-align: bottom;
}

/* line 22, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag__image {
  padding-right: 10px;
}
/* line 25, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag__image > img {
  display: block;
  max-width: none;
}
/* line 30, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag--rev .flag__image {
  padding-right: 0;
  padding-left: 10px;
}

/* line 37, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag__body {
  width: 100%;
}

/* line 42, C:/WebServers/home/localhost/www/addressBook/styles/flag.scss */
.flag__icon {
  color: white;
  opacity: 0.3;
  font-size: 36px;
  padding-right: 20px;
}

/* line 1, C:/WebServers/home/localhost/www/addressBook/styles/form.scss */
input {
  width: 100%;
  display: block;
  background: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px #ccc;
  padding: 10px;
  margin: 20px 0;
}

/* line 1, C:/WebServers/home/localhost/www/addressBook/styles/header.scss */
header {
  height: 70px;
  box-shadow: 0 0 4px #000;
  background: #363c32;
  color: #fff;
}

/* line 7, C:/WebServers/home/localhost/www/addressBook/styles/header.scss */
.header__title {
  color: #b4cf4a;
  font-weight: normal;
  font-size: 32px;
  display: inline-block;
}

/* line 13, C:/WebServers/home/localhost/www/addressBook/styles/header.scss */
.logo {
  margin: 10px 0;
  display: inline-block;
  height: 50px;
  background: url("../images/logo.png");
  background-size: 100%;
  width: 55px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 20px;
}

/* line 1, C:/WebServers/home/localhost/www/addressBook/styles/icon.scss */
.icon-user, .contacts__image {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../images/user-icons.jpg");
  background-position: -212px -12px;
  background-repeat: no-repeat;
}

/* line 1, C:/WebServers/home/localhost/www/addressBook/styles/list.scss */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 6, C:/WebServers/home/localhost/www/addressBook/styles/list.scss */
.list__item {
  margin: 20px 0;
}

/* line 9, C:/WebServers/home/localhost/www/addressBook/styles/list.scss */
.list__item:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  opacity: 0.2;
  background: white;
  margin-top: 20px;
}

/* line 1, C:/WebServers/home/localhost/www/addressBook/styles/text.scss */
h2 {
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}

/* line 18, styles.scss */
body {
  font-family: Tahoma, Geneva, Kalimati, sans-serif;
  font-size: 14px;
  color: #353535;
  margin: 0;
  background: url("../images/background.jpg");
}

/* line 26, styles.scss */
h3 {
  margin: 0;
  padding: 5px;
}
